# Wordpress - plugins

# Operating System files
.DS_Store
Thumbs.db

# IDE files
.idea
.vscode/*
project.xml
project.properties
.project
.settings*
*.sublime-project
*.sublime-workspace
.sublimelinterrc

# Built packages
build/
build-module/
build-style/
build-style.js
build-types/
dist/
oclif.manifest.json

# Project files
node_modules/
vendor/

# TypeScript files
tsconfig.tsbuildinfo

# Node Package Dependencies
package-lock.json
